@import "tailwindcss";

:root {
  --background: #050312;
  --foreground: #f7f5ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #03010a;
    --foreground: #f0f1ff;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), "Zen Kaku Gothic New",
    "Hiragino Kaku Gothic ProN", "Yu Gothic", "游ゴシック体", sans-serif;
  min-height: 100vh;
}
